@model Themis.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="register-box">
    <div class="register-logo">
        <a href="">Área Administrativa</a>
    </div>

    <div class="register-box-body">

        <p class="login-box-msg">Cadastrar um novo usuário</p>

        <p>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </p>
        

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.NomeCompleto, new { @class = "form-control", @placeholder = "Nome Completo" })
                @Html.ValidationMessageFor(m => m.NomeCompleto, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Senha" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmar Senha" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">

                <div class="form-group col-xs-8">
                    @Html.TextBoxFor(m => m.Bloco, new { @class = "form-control", @type = "text", @placeholder = "Bloco" })
                    @Html.ValidationMessageFor(m => m.Bloco, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-4">
                    @Html.TextBoxFor(m => m.Apto, new { @class = "form-control", @type = "text", @placeholder = "Apto" })
                    @Html.ValidationMessageFor(m => m.Apto, "", new { @class = "text-danger" })
                </div>

                <div class="col-xs-8">
                    @*<div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> I agree to the <a href="#">terms</a>
                            </label>
                        </div>*@
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Cadastrar</button>
                </div>
                <!-- /.col -->
            </div>
        }

        <div class="social-auth-links text-center">
            <p>- OU -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Entre usando o
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Entre usando o
                Google+
            </a>
        </div>

        @Html.ActionLink("Eu já sou cadastrado", "Login", null, new { @class= "text-center" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
